@if (showLoader()) {
  <div class="kuro-loader">
    <div class="kuro-loader__container">
      <div class="kuro-loader__logo">
        <img src="images/logo.webp" alt="Kuroneko Logo" class="kuro-loader__image">
        <div class="kuro-loader__text">
          <span class="kuro-loader__jp">{{ texts().appLoader.brand }}</span>
          <span class="kuro-loader__en">{{ texts().appLoader.latinBrand }}</span>
        </div>
      </div>
      <div class="kuro-loader__progress">
        <div class="kuro-loader__bar" [style.width.%]="loadProgress()"></div>
      </div>
      <div class="kuro-loader__hacker">
        <span class="kuro-loader__line">> {{ texts().appLoader.initializing }} {{ loadProgress() }}%</span>
        @if (loadProgress() > 30) {
          <span class="kuro-loader__line">> {{ texts().appLoader.accessingMainframe }} OK</span>
        }
        @if (loadProgress() > 60) {
          <span class="kuro-loader__line">> {{ texts().appLoader.decodingSecurity }} OK</span>
        }
        @if (loadProgress() > 90) {
          <span class="kuro-loader__line">> {{ texts().appLoader.welcome }}</span>
        }
      </div>
    </div>
  </div>
}

@if (!showLoader()) {
  <router-outlet />
}

<app-modal />
